body, html {
    margin: 0;
    padding: 0;
    color: black;
    background: #aa9;
}
#wrap {
    // width: 750px;
    width: 95%;
    margin: 0 auto;
    background: #99c;
}
#header {
    background: #ddd;
}
#nav {
    background: #c99;
}
#main {
    background: #9c9;
    float: right;
    // width: 500px;
    width: 67%;
}
#sidebar {
    background: #c9c;
    float: left;
    // width: 250px;
    width: 33%;
}
#footer {
    background: #cc9;
    clear: both;
}
.case {
    margin: 2px;
    border: 1px solid black;
    background-color: #ffeedd;
}
#result {
    margin: 2px;
    border: 1px solid black;
    background-color: #eeffdd;
}
